<div class="demo-app-home">
  <h2>Demo application for Clean Solution Architecture</h2>
    <ul class="ratings">
      <li>
        Create a Web application using .Net 5/Angular 10+ using
        <a href="https://github.com/jasontaylordev/CleanArchitecture">
          .net clean architecture
        </a>
      </li>
      <li>
        Use
        <a href="https://auth0.com/">
          Auth0
        </a>
        for Authn and Authz
      </li>
      <li>
        Create 1 Rest CRUD API for IMDB Style Movie Database with UI
      </li>
      <li>
        Create 1 Graphql CRUD API for Movie Rating with UI
      </li>
      <li>
        Use
        <a href="https://material.io/">
          Material Design
        </a>
         by Google
      </li>
      <li>
        Unit Test
      </li>
    </ul>
</div>
