<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="formInstance">
    <div class="mt-1">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Movie ID *</mat-label>
        <input matInput type="text" name="movieId" formControlName="movieId">
        <mat-error *ngIf="formInstance.controls['movieId']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Movie Name *</mat-label>
        <input matInput type="text" name="movieName" formControlName="movieName" />
        <mat-error *ngIf="formInstance.controls['movieName']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Comment *</mat-label>
        <input matInput type="text" name="comment" formControlName="comment" />
        <mat-error *ngIf="formInstance.controls['comment']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Rating Point *</mat-label>
        <input matInput type="ratingPoint" name="ratingPoint" formControlName="ratingPoint" />
        <mat-error *ngIf="formInstance.controls['ratingPoint']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>

    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>User Mail *</mat-label>
        <input matInput type="userMail" name="userMail" formControlName="userMail" />
        <mat-error *ngIf="formInstance.controls['userMail']?.errors?.required">field required</mat-error>
      </mat-form-field>
    </div>

  </form>
</div>
<div class="mt-5 flex-justify-center" mat-dialog-actions >
  <button mat-raised-button color="primary" [disabled]="formInstance.dirty && (formInstance.errors!=null)" (click)="save()"
    cdkFocusInitial>
    Save
  </button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</div>
